@page "{id:int?}"
@using AssetsManagement.Models
@model AssetsManagement.Pages.AccountManagers.AccountManagersModel

@{
    ViewData["Title"] = "Account Managers";
}
<h1>Account Managers</h1>
<hr />

<p>
    <a asp-page="./CreateAccountManager">Create New</a>
</p>

<form asp-page="./AccountManagers" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name:
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-page="./AccountManagers">Back to full List</a>
        </p>
    </div>
</form>

<table class="table mt-5" style="width:100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.AccountManagers != null)
        {
            foreach (var am in Model.AccountManagers)
            {
                <tr>
                    <td>@am.Name</td>
                    <td>@am.Surname</td>
                    <td>@am.Email</td>
                    <td>
                        <a asp-page="./AccountManagers" asp-route-id="@am.Id">Select</a> |
                        <a asp-page="./AccountManagerDetails" asp-route-id="@am.Id">Details</a> |
                        <a asp-page="./EditAccountManager" asp-route-id="@am.Id">Edit</a> |
                        <a asp-page="./DeleteAccountManager" asp-route-id="@am.Id">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>