@page
@model AssetsManagement.Pages.DeleteClientModel

@{
    ViewData["Title"] = "Delete Client";
}

<h1>Delete Client</h1>

<p class="text-danger">@Model.ErrorMessage</p>

<h3>Are you sure you want to delete this client?</h3>
<div>
    <hr />
    @if (Model.Client != null)
    {
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Client!.Name)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Client!.Name)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Client!.LastName)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Client!.LastName)
            </dd>
            <dt class="col-sm-3">
                Currencies
            </dt>
            <dd class="col-sm-9">
                @if (Model.Client!.CurrenciesId != null && Model.Currencies != null)
                {
                    var selected = Model.Currencies
                        .Where(c => Model.Client.CurrenciesId.Contains(c.Id))
                        .Select(c => c.Name);
                    @string.Join(", ", selected)
                }
            </dd>
            <dt class="col-sm-3">
                Account Manager
            </dt>
            <dd class="col-sm-9">
               @{
                    var manager = Model.AccountManagers.FirstOrDefault(am => am.Id == Model.Client.AccountManagerId);
                }
                @if (manager != null)
                {
                    @($"{manager.Name} {manager.Surname}")
                }
                else
                {
                    <span>No account manager assigned.</span>
                }
            </dd>
        </dl>
        <form method="post">
            <input type="hidden" asp-for="Client.Id" />
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-page="Clients">Back to List</a>
        </form>
    }
    else
    {
        <div class="text-danger">Client not found.</div>
    }
</div>